@import '../../global/main.scss';
@import '../../global/mixins/flex.scss';
@import '../../global/mixins/positions.scss';
@import '../../global/variables.scss';

.about {
    background-color: $white_dark;
    @include flex-center-wrap;
    padding: 80px 0 150px 0;

    @media all and (max-width: 1200px) {
        padding: 60px 0 60px 0;
    }

    &__title {
        width: 100%;
        text-align: center;
        padding: 2rem;
        position: relative;
        margin-bottom: 28px;

        // &::after {
        //     content: '';
        //     display: block;
        //     width: 50px;
        //     height: 2px;
        //     background-color: #e6330e;
        //     position: absolute;
        //     top: unset;
        //     left: 0;
        //     right: 0;
        //     z-index: 2;
        //     bottom: -18px;
        //     margin-left: auto;
        //     margin-right: auto;
        // }
    }

    &__content {
        width: 100%;
        @include flex-justify-content-space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        &__image {
            flex-basis: 50%;
            padding: 2rem;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            min-height: 550px;

            @media all and (max-width: 1200px) {
                min-height: auto;
                flex-basis: 100%;
            }

            svg {
                width: 60%;
                height: 60%;

                @media all and (max-width: 1366px) {
                    width: 80%;
                    height: 80%;
                }

                @media all and (max-width: 1200px) {
                    width: 70%;
                    height: 70%;
                }
            }
        }

        &__wrapper {
            flex-basis: 50%;
            @include flex-center-wrap;

            @media all and (max-width: 1200px) {
                align-items: flex-start;
            }

            &__row {
                @media all and (max-width: 1200px) {
                    flex-basis: 33%;
                    text-align: center;
                    padding: 20px;
                }

                @media all and (max-width: 768px) {
                    flex-basis: 100%;
                    padding: 0 10%;
                }
            }

            @media all and (max-width: 1200px) {
                flex-basis: 100%;
            }

            &__title {
                text-align: left;
                width: 100%;
                padding: 1rem;
                padding-right: 10rem;
                position: relative;

                @media all and (max-width: 1200px) {
                    // text-align: center;
                    padding: 10px 0;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 2%;
                    z-index: 3;
                    width: 10%;
                    height: 2px;
                    background-color: #e6330e;

                    @media all and (max-width: 1200px) {
                        left: 0;
                        // right: 0;
                        // margin: auto;
                    }
                }
            }

            &__description {
                text-align: left;
                padding: 1rem;
                width: 100%;
                padding-right: 10rem;

                @media all and (max-width: 1200px) {
                    padding: 1rem 0;
                }
            }
        }
    }
}
