@import './reset.scss';
@import './typography.scss';
@import './variables.scss';

body {
    background-color: $black_dark;
    font-family: 'Montserrat', sans-serif;
}

.scrollarea .scrollbar-container.vertical .scrollbar {
    background: #e6330e;
}
.scrollarea .scrollbar-container.vertical,
.scrollarea .scrollbar-container.vertical:hover,
.scrollarea .scrollbar-container:hover {
    opacity: 1 !important; //<3
}
