@import './variables.scss';
@import './mixins/typhography.scss';

h1 {
    font-size: $mod_1 * $mod_1 * $mod_1 * $mod_1 * 1rem;
    @include fluid-type(
        $min_width,
        $max_width,
        $mod_1 * $mod_1 * $mod_1 * $min_font,
        $mod_2 * $mod_2 * $mod_2 * $min_font
    );
}
h2 {
    font-size: $mod_1 * $mod_1 * $mod_1 * 1rem;
    @include fluid-type(
        $min_width,
        $max_width,
        $mod_1 * $mod_1 * $mod_1 * $min_font,
        $mod_2 * $mod_2 * $mod_2 * $min_font
    );
}
h3 {
    font-size: $mod_1 * $mod_1 * 1rem;
    @include fluid-type(
        $min_width,
        $max_width,
        $mod_1 * $mod_1 * $min_font,
        $mod_2 * $mod_2 * $min_font
    );
}
h4 {
    font-size: $mod_1 * 1rem;
    @include fluid-type(
        $min_width,
        $max_width,
        $mod_1 * $min_font,
        $mod_2 * $min_font
    );
}
