$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;
$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop
$white_light: #cfcfcf;
$white_dark: #fff;
$black_light: #222222;
$black_dark: #000;
$orange_light: #ff8d33;
$orange_dark: #ff7000;
