@import '../global/main.scss';
@import '../global/mixins/flex.scss';
@import '../global/mixins/btn.scss';
@import '../global/typography.scss';
@import '../global/variables.scss';

.nav {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    @include flex-justify-content-space-around;

    &__logo {
        flex-basis: 10%;
    }

    &__list {
        flex-basis: 40%;
        list-style: none;

        @include flex-justify-content-space-around;

        &__item {
            padding: 5px;
            font-weight: bold;
            color: $white_dark;
            cursor: pointer;

            @include fluid-type($min_width, $max_width, $min_font, $min_font);

            &__link {
                color: inherit;
                text-decoration: none;
            }

            &:hover {
                color: $white_light;
            }
        }
    }

    &__btn {
        @include button;

        background-color: $orange_light;
        text-shadow: 0 1px $orange_dark;
        box-shadow: inset 0 -1px $orange_dark;
        text-transform: uppercase;

        @include fluid-type($min_width, $max_width, $min_font, $min_font);

        &:hover {
            background: $orange_dark;
            box-shadow: inset 0 -1px $orange_light;
        }
    }
}
